---
layout: base.njk
title: 'About'
description: 'About this blog'
date: 2020-07-01
image: /img/horse-5364073_640.jpg
video:
imageby: Ray Shrewsberry
attribution: https://pixabay.com/users/Ray_Shrewsberry-7673058/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5364073
---

About this blog --- collections sorted

