---
title: 'Contact'
description: 'Contact details'
image: /img/contact-bg.jpg
phone: "+99 (080)8888-8888"
address: "Apt 1,Sraoff Cross, Ave Santa Marai, IN 400500"
email: "blogAuthor@blogging.com"
twitter: "@twitntwat" 
---
<div class="font-weight-light text-center">
    <div ><i class="fas fa-phone"></i> {{phone}}   </div>
    <div><i class="far fa-envelope"></i> {{email}}</div>
    <div><i class="far fa-address-card"></i> {{address}} </div>
    <div><i class="fab fa-twitter"></i> {{twitter}}</div>
</div>