---
layout: base.njk
title: 'Contact'
description: '' 
date: 2020-07-17
---
<div class="font-weight-light text-center">
    <div ><i class="fas fa-phone"></i> {{site.contacts.phone}}   </div>
    <div><i class="far fa-envelope"></i> {{site.contacts.email}}</div>
    <div><i class="far fa-address-card"></i> {{site.contacts.address}} </div>
    <div><i class="fab fa-twitter"></i> {{site.contacts.twitter}}</div>
</div>

