---
layout: base.njk
title: Welcome to my Blog
description: Learn and Share
datepublished: 01-Jan-2020
image: /img/337.jpg
imageby: Cookie_studio / Freepik
attribution: https://www.freepik.com
keywords: ["Markdown","blog","Eleventy","frontmatter","Learn","Share"]
---

<p>Learning a new thing is fun. I often jump from one shiny topic to another without  completely absorbing
the topic in hand. I don't know if this is the case with most people but 
for me this was always true.
</p>
<p>To ensure learning is complete, I started to write about the topic I was learning.
Writing is hard. The only way to get to writing is to do it everyday. With me this did not happen. 
I skipped somedays. After a pause picked it up again. Overall, I would say I was partly successful
in pursuing "writing" - don't ask if it was good.
</p>

<h5> How did it start for me? </h5>
<p>I was reading about Serverless and started to write about it - check this gitbook (#TODO hyperlink to the book)
The topic of Serverless exploded into many sub-topics and one of which was about "static generators" 
and deploying resultant websites on CDNs using netlify.com and other frameworks such as JAMSTACK.
As reading continued it lead to a project of buidling a blogsite (this one).
</p>

<p>I am still hopping topics, but more slowly, I continue to write and the first artcle on this blogsite is
about How I build this blogsite?
<p></p>
Writing helps me in two ways:
<li>I Absorb/reinforce/retain the learning </li>
<li>I have a reference to what I learnt</li>

<br>
A side benefit is:
<li>I inculcate the writing habbit</li>
<li>and hopefull this benefits others</li>
