<div class="col-lg-4 col-md-2">
  <div class="pt-3">
    Recent Blogs... 
  </div>
  
    {% for post in collections.posts %}
    <div class="bloglist">
    <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
      <div class="text-info small line-height:1.1"> {{post.data.title}}</div>
    </a>
    <p class="text-muted small"> {{ post.data.content | summary }} 
      <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
            ...
      </a>
    </p>
    </div>
    {% endfor %}
</div>