---
title: 'My Blog'
description: 'Thoughts of a Developer'
---

<!DOCTYPE html>
<html lang="en">

<head>
 {% include 'header.njk' %}
</head>

<body>
  {% include 'nav.njk' %}

  {# {% include 'page-head.njk' %} #}
  
  <div class="container mt-5">
    <div class="row">
      {# First column #}
      <div class="col-lg-4 col-md-2">
      <div class="pt-3">Recent Blogs</div>
      {% for post in collections.posts %}
        <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
          <div class="text-info small line-height:1.1"> {{post.data.title}}</div>
        </a>
        <p class="text-muted small"> {{ post.data.content | summary }} 
          <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
                ...
          </a>
        </p>
      {% endfor %}
      </div>
      {# Second column #}
      <div class="col-lg-8 col-md-10 mx-auto pt-3">        
                {{ content | safe }}
      </div>
    </div>
  </div>

  <hr>

  {% include 'footer.njk' %}
  {% include 'footer-scripts.njk' %}
</body>

</html>
