---
title: 'My Blog'
description: 'Thoughts of a Developer'
---

<!DOCTYPE html>
<html lang="en">

<head>
 {% include 'header.njk' %}
</head>

<body>
  {% include 'nav.njk' %}

  {% include 'page-head.njk' %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        Recent Blogs:
        {% for post in collections.posts %}
            <li> <a href="{{ post.url | url }}"> {{post.data.title}} by {{post.data.author}} </a> </li>
        {% endfor %}
      </div>
    </div>  
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {# {% include 'search-result.njk' %} #}
          {{ content | safe }}
      </div>
    </div>
  </div>

  <hr>

  {% include 'footer.njk' %}
  {% include 'footer-scripts.njk' %}
</body>

</html>
