---
title: 'My Blog'
description: 'Thoughts of a Developer'
---

<!DOCTYPE html>
<html lang="en">

<head>
 {% include 'header.njk' %}
</head>

<body>
  {% include 'nav.njk' %}

  {# {% include 'page-head.njk' %} #}
  
  <div class="container mt-5">
    <div class="row">
      {# First column #}
      {% include 'bloglist.njk' %}
      {# Second column #}
      {% include 'post.njk' %}
    </div>
  </div>

  <hr>
  
  {% include 'footer.njk' %}
  {% include 'footer-scripts.njk' %}
</body>

</html>
