---
title: 'My Blog'
description: 'Thoughts of a Developer'
---

<!DOCTYPE html>
<html lang="en">

<head>
 {% include 'header.njk' %}
</head>

<body>
  {% include 'nav.njk' %}

  {# {% include 'page-head.njk' %} #}
  
  <div class="container mt-5">
    <div class="row">
      {# First column #}
      <div  class="col-lg-4 col-md-2 pt-3">
        <div class="pt-3">
          Recent Blogsssss
        </div>
        {% for post in collections.posts %}
          <div class="bloglist">
          <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
            <div class="text-info small line-height:1.1"> {{post.data.title}}</div>
          </a>
          <p class="text-muted small"> {{ post.data.content | summary }} 
            <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
                  ...
            </a>
          </p>
          </div>
        {% endfor %}
      </div>
      {# Second column #}
      <div class="col-lg-8 col-md-10 mx-auto">        
        {% for post in collections.posts %}
           {# <li> <a href="{{ post.url | url }}"> {{post.data.title}} by {{post.data.author}} </a> </li> #}
           <div class="bg-light p-2">
              <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
                <h5 class="text-info"> {{post.data.title}}</h5>
              </a>
              <p class="text-muted"> {{ post.data.content | summary }} 
                <a href="{{ post.url | url }}" data-toggle="tooltip" title="by: {{post.data.author}}"> 
                ...
                </a>
              </p>
           </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr>

  {% include 'footer.njk' %}
  {% include 'footer-scripts.njk' %}
</body>

</html>
