<div class="col-lg-8 col-md-10 mx-auto pt-3">        
    <div class="card">
        <div class="card-header">
            <h2>{{title}}</h2>
        </div>
        {% if image %}
        <div>
            <img class="card-img-top" src="{{ image }}"  style="width:100%">
            <div class="text-center font-weight-light small">
                <a href="{{ attribution }}" class="text-muted"> Image by {{ imageby }}</a>
            </div>
            
        </div>
        {% else %}
            {# TODO
            could place default image here 
            look for creative ways to create an image or select one of many 
            stock images
            #}
        {% endif %}
        <div class="card-body">
            {% if description %}
                <div class="font-weight-lighter font-italic text-center">
                {{ description }}
                </div>
            {% endif%}
            <p class="card-text font-weight-light">{{content | safe}}</p>
        </div> 
        <div class="card-footer text-small text-muted">{{author}}</div>
    </div>
</div>